###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
###< symfony/framework-bundle ###

# Managed by Composer
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# PHPUnit
/phpunit.xml
.phpunit.result.cache

# Composer PHAR
/composer.phar